html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}


.hide {
    display: none;
}

.custon-btn{
    width:100%;
}


.custon-list {
   
}


@media (max-width: 575.98px) {
    .custon-list {
        border: none;
        padding: 0px;
        color: #212520;
        font-size:15px;
    }

        .custon-list:hover {
            color: #212520;
            background-color: #ffffff;
        }
}
